/* =============팝업============= */
.popup {
    z-index: 999;
    display: flex; flex-flow: column nowrap;
    /* background-color: skyblue;  */
    text-align: right;
    position: fixed; bottom: 20px; right: 7px;
}
.popup .speech_bubble {
    width: 253px;
    border-radius: 30px;
    background-color: #0D5CAB;
    margin-bottom: 53px;
    /* padding-left: 30px; padding-top: 20px; */
}
.popup .speech_bubble a {
    display: flex;  align-items: center;
    text-align: center;
}
.popup .speech_bubble a span {
    color: #fff; 
    font-size: 0.875rem; font-weight: 600; letter-spacing: 0.2px;
    line-height: 200%;
    margin-right: 12px;
    position: relative; left: 30px;
}
.popup .speech_bubble a img {
    position: relative; left: 35px; bottom: 33px;
}
.popup .inquiry {
    /* border: 1px solid blue; */
    margin-bottom: 15px;
    margin-right: 11px
}
.popup .inquiry img {}
.popup .upward {
    /* border: 1px solid green; */
    margin-right: 11px;
} 
.popup .upward img {
    /* box-shadow: 3px 3px 5px #585858; */
    border-radius: 50%;
    border: 1px solid #d3d3d3;
}
/* =============================메인 페이지=============================== */
/* top menu */
.h_bg {border-bottom: 2px solid #eceaea; }
.h_bg header {
    width: 1374px; margin: 0 auto;
}
.h_bg header .top {
    display: flex;
    justify-content: flex-end;
}
/* top menu left */
.h_bg header .top .top_left {
    margin-right: 63px;
}
.h_bg header .top .top_left ul {
    margin: 15px auto; 
    display: flex;
}
.h_bg header .top .top_left ul li {
    margin-right: 50px;
}
.h_bg header .top .top_left ul li:last-child {margin-right: 0;}
.h_bg header .top .top_left ul li a {
    color: #929492;
}
.h_bg header .top .top_left ul li .sub {
    position: absolute;
    display: none; /* 자바스크립트 -> 동적기능할 때 flex로 바꿔야함 */
}
.h_bg header .top .top_left ul li:nth-child(1) .sub {
    /* display: flex; */ flex-flow: column nowrap;
    padding: 18px 0 0 22px;
    background-color: #fff; 
    border-radius: 5px;
    box-shadow: 4px 3px 12px rgba(0, 0, 0, 0.25);
    width: 138px; height: 272px;
}
.h_bg header .top .top_left ul li:nth-child(2) .sub {
    background-color: #fff; box-shadow: 4px 3px 12px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 128px; height: 49px;
    padding: 18px 0 0 22px;
}
.h_bg header .top .top_left ul li:nth-child(4) .sub {
    /* display: flex;  */flex-flow: column nowrap;
    background-color: #fff; box-shadow: 4px 3px 12px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 191px; height: 193px;
    padding: 18px 0 0 22px;
}
.h_bg header .top .top_left ul li .sub li {
    margin-bottom: 27px;
}
.h_bg header .top .top_left ul li .sub li:last-child {margin-bottom: 0;}
.h_bg header .top .top_left ul li .sub li a {}
/* top menu right */
.h_bg header .top .top_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
.h_bg header .top .top_right a {
    margin-right: 8px;
    color: #5B5B5B;
}
.h_bg header .top .top_right a img {}
/* main menu */
.h_bg header .main_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
/* logo */
.h_bg header .main_menu h1 {}
.h_bg header .main_menu h1 a {}
.h_bg header .main_menu h1 a img {}
/* main nav */
.h_bg header .main_menu nav {}
.h_bg header .main_menu nav .nav_bg {
    z-index: 1;
    position: absolute; left: 0; top:  150px;
    background-color: #fff;
    width: 100%; height: 701px;
    margin: 0 auto;
    display: none; /* 서브 메뉴 나올 때 */
}
.h_bg header .main_menu nav .gnb {
    display: flex;
}
.h_bg header .main_menu nav .gnb li {
    margin-right: 78px; 
}
.h_bg header .main_menu nav .gnb li a {
    color: #444;
}
/* ===========메인 서브메뉴 시작 IT기기~ */
.h_bg header .main_menu nav .gnb li .sub_menu {
    z-index: 2;
    position: absolute; left: 50%; top: 151px;
    transform: translateX(-50%);
    background: #fff;
    width: 1374px; margin: 0 auto;
    display: flex; padding-top: 106px; 
    display: none; /* 메인메뉴 서브 가리는 태그 */
}
.h_bg header .main_menu nav .gnb li .sub_menu .left {
    /* background-color: lightblue; */
}
.h_bg header .main_menu nav .gnb li .sub_menu .left::after {
    content: '';
    display: flex;
    padding-right: 60px;
    height: 510px; 
    position: absolute; left: 300px; top: 105px;
    border-right: 1px solid #444;
}
.h_bg header .main_menu nav .gnb li .sub_menu .left img {}
.h_bg header .main_menu nav .gnb li .sub_menu .right {
/*     background-color: lightcoral; */
    display: flex; 
    flex-flow: row wrap;
    margin-left: 120px;
} 
.h_bg header .main_menu nav .gnb li .sub_menu .right {}
.h_bg header .main_menu nav .gnb li .sub_menu .right .main_sub {
    width: 25%;
}
.h_bg header .main_menu nav .gnb li .sub_menu .right .main_sub li {
    margin-bottom: 18px;
    color: #444;
}
.h_bg header .main_menu nav .gnb li .sub_menu .right .main_sub li:last-child {
    margin-bottom: 90px;
}
.h_bg header .main_menu nav .gnb li .sub_menu .right .main_sub li a {
    display: flex; 
    align-items: center;
}
.h_bg header .main_menu nav .gnb li .sub_menu .right .main_sub li a img {}
/* ========================================================== */
/* search / ham */
.h_bg header .main_menu .header_right {
    display: flex; align-items: center;
}
.h_bg header .main_menu div {margin-right: 12px;}
.h_bg header .main_menu div:last-child {margin-right: 0;}
.h_bg header .main_menu .header_right .main_menu_right {
    /* border: 1px solid blue; */
    display: flex; align-items: center;
}
.h_bg header .main_menu .header_right .main_menu_right a {
    margin-right: 12px;
    /* border: 1px solid purple; */
}
.h_bg header .main_menu .header_right .main_menu_right a:last-child {margin-right: 0;}
.h_bg header .main_menu .header_right .main_menu_right a img {}
/* 반응형 모바일 header */
.h_bg header .main_menu .header_right .mobile_main_menu_right {
    display: flex; align-items: center;
    /* border: 1px solid blue; */
    display: none;
}
.h_bg header .main_menu .header_right .mobile_main_menu_right a {
    /* border: 1px solid purple; */
    margin-right: 12px;
}
.h_bg header .main_menu .header_right .mobile_main_menu_right a:last-child {margin-right: 0;}
.h_bg header .main_menu .header_right .mobile_main_menu_right a img {}
/* swiper 1번째 */
main {}
main .main_1 {
    display: flex; justify-content: space-between;
    margin: 0 auto; width: 100%; align-items: center;
}
main .main_1 .rental {
    width: 1374px; margin: 0 auto;
    display: flex; justify-content: space-between;
    margin-top: 43px;
    position: relative; 
}
main .main_1 .rental .swiper {}
main .main_1 .rental .main-slide {}
/* ----------------------------------------------------------- */
main .main_1 .rental .swiper .swiper-wrapper {}
main .main_1 .rental .swiper .swiper-wrapper .swiper-slide {}
/* ----------------------------------------------------------- */
main .main_1 .rental .swiper .swiper-wrapper .swiper-slide .swiper_rental {
    display: flex;
}
main .main_1 .rental .swiper .swiper-wrapper .swiper-slide .swiper_rental .page {
    display: flex; flex-flow: column nowrap;
    margin: 0 8px;
}
main .main_1 .rental .swiper .swiper-wrapper .swiper-slide .swiper_rental .page .swiper_check {
    width: 225px; height: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 87px;
}
main .main_1 .rental .swiper .swiper-wrapper .swiper-slide .swiper_rental .page .swiper_check > p {}
main .main_1 .rental .swiper .swiper-wrapper .swiper-slide .swiper_rental .page .swiper_check .line {
    width: 146px; height: 2px; 
    background-color: #cbcbcb;
    margin: 0 17px;
}
main .main_1 .rental .swiper .swiper-wrapper .swiper-slide .swiper_rental .slide_img {
    /* background-repeat: no-repeat; */
}
main .main_1 .rental .swiper .swiper-wrapper .swiper-slide .swiper_rental .slide_img img {}
/* swiper 내용 - 공통선택자 */
main .main_1 .rental .swiper .swiper-wrapper .swiper-slide .swiper_rental .page .swiper_contents {
    /* border: 1px solid blue; */
    width: 450px;
}
main .main_1 .rental .swiper .swiper-wrapper .swiper-slide .swiper_rental .page .swiper_contents h2 {
    font-size: 3.125rem; font-weight: 700;
    margin-bottom: 48px; 
}
main .main_1 .rental .swiper .swiper-wrapper .swiper-slide .swiper_rental .page .swiper_contents > p {
    font-size: 0.938rem; color: #585858;
    line-height: 0.2;
    margin-bottom: 188px;
}
main .main_1 .rental .swiper .swiper-wrapper .swiper-slide .swiper_rental .page .swiper_contents button {
    width: 219px; height: 56px; 
    border: 1px solid #000; border-radius: 30px;
    color: #005A9C;
    border-color: #005A9C;
    margin-bottom: 32px;
    background-color: #fff;
}
main .main_1 .rental .swiper .swiper-wrapper .swiper-slide .swiper_rental .page .swiper_contents button:hover {
    background-color: #005A9C; color: #fff;
}
main .main_1 {
    padding-bottom: 50px;
    border-bottom: 2px solid #eceaea;
}
main .main_1 .rental .swiper-button-next {
    color: #929492; right: -150px;
}
main .main_1 .rental .swiper-button-prev {
    color: #929492; left: -150px;
}
/* ================================= */
main .main_2 {
    margin: 0 auto; 
}
main .main_2 .main2_title {
    text-align: center; /* border: 1px solid red; */
}
main .main_2 .main2_title > p {
    padding-top: 103px;
    font-size: 0.938rem; color: #727472;
    padding-bottom: 45px;
}
main .main_2 .main2_title > h2 {
    font-weight: 300; font-size: 2.5rem;
    color: #005A9C;
}
main .main_2 .main2_title > h2 span {
    font-weight: 700; font-size: 2.5rem;
    color: #005A9C;
}
main .main_2 .product_menu {
    width: 1374px; margin: 0 auto;
    margin-top: 93px;
    display: flex; justify-content: space-between;
    align-items: center;
    margin-bottom: 85px;
}
main .main_2 .product_menu ul {
    display: flex; align-items: center;
}
main .main_2 .product_menu ul li {
    font-size: 1.063rem;
}
main .main_2 .product_menu ul li:first-child a {
    font-weight: 700;
}
main .main_2 .product_menu ul li::after {
    content: '';
    height: 6px; 
    border: 0.5px solid #d9d9d9;
    margin: 0 21px;
}
main .main_2 .product_menu ul li:last-child::after {display: none;}
main .main_2 .product_menu ul li a {}
main .main_2 .product_menu .full_view {}
main .main_2 .product_menu .full_view a {
    display: flex; align-items: center; text-align: center;
}
main .main_2 .product_menu .full_view a img {}
/* swiper - 우리 회사에 딱 맞는 제품을 찾아보세요 메뉴들 */
main .main_2 .product_swiper {
    width: 1374px; margin: 0 auto;
    margin-bottom: 115px;
}
/* -------------------------------- */
main .main_2 .product_swiper .swiper {}
main .main_2 .product_swiper .product-slide {}
main .main_2 .product_swiper .swiper .swiper-wrapper {}
main .main_2 .product_swiper .swiper .swiper-wrapper .swiper-slide {}
/* -------------------------------- */
main .main_2 .product_swiper .swiper .swiper-wrapper .swiper-slide .main2_p_s {
    /* display: flex; */
}
main .main_2 .product_swiper .swiper .swiper-wrapper .swiper-slide .main2_p_s ul {
    /* padding-left: 80px; */
}
main .main_2 .product_swiper .swiper .swiper-wrapper .swiper-slide .main2_p_s ul li {
    text-align: center;
}
main .main_2 .product_swiper .swiper .swiper-wrapper .swiper-slide .main2_p_s ul li a {}
main .main_2 .product_swiper .swiper .swiper-wrapper .swiper-slide .main2_p_s ul li a img {
    /* width: 100%; */ 
}
main .main_2 .product_swiper .swiper .swiper-wrapper .swiper-slide .main2_p_s ul li a p {
    font-size: 0.938rem; 
    /* margin-top: 13px; */
}
main .main_2 .product_swiper .swiper .swiper-button-next {
    color: #929492;
    /* border: 1px solid red; */
    padding-left: 58px;
}
main .main_2 .product_swiper .swiper .swiper-button-prev {
    color: #929492;
    /* border: 1px solid red; */
    padding-right: 58px;
}
/* ============================================================ */
main .main_3 {
    width: 1374px; margin: 0 auto;
    display: flex;
}
main .main_3 .main3_left {}
main .main_3 .main3_left h3 {
    font-size: 1.875rem; font-weight: 600;
    margin-bottom: 93px;
}
main .main_3 .main3_left ul {}
main .main_3 .main3_left ul li {
    font-size: 1.125rem;
    margin-bottom: 25px;
}
main .main_3 .main3_left ul li a:hover {
    font-size: 1.188rem;
    font-weight: 600;
    color: #0D5CAB;
}
main .main_3 .main3_left ul li:last-child {margin-bottom: 0;}
main .main_3 .main3_left ul li a {}
main .main_3 .main3_left .deco_line {
    width: 479px; 
    border: 1px solid #EAEAEA;
    margin: 50px 0 ;
}
main .main_3 .main3_left .consulting_btn {
    background-color: #fff;
    width: 221px; height: 59px;
    border: 1px solid #000;
    border-radius: 30px;
}
main .main_3 .main3_left .consulting_btn:hover {
    background-color: #0D5CAB; color: #fff;
    border: 0;
}
main .main_3 .main3_right {}
main .main_3 .main3_right img {}
/* ===================================================== */
main .main_4_bg {
    width: 100%; background-color: #F7FBFE;
    margin-top: 155px; 
}/* 배경 색 */
main .main_4_bg .main_4 {
    width: 1526px; padding-top: 0 auto; 
    margin: 0 auto; 
}
main .main_4_bg .main_4 .main4_title {
    text-align: center; 
}
main .main_4_bg .main_4 .main4_title p {
    font-size: 0.938rem; color: #727472;
    padding-top: 80px; padding-bottom: 45px;
}
main .main_4_bg .main_4 .main4_title h2 {
    font-size: 2.5rem; font-weight: 300;
    color: #0D5CAB;
}
main .main_4_bg .main_4 .main4_title h2 span {
    font-size: 2.5rem; font-weight: 700;
}
main .main_4_bg .main_4 .sns {
    width: 1035px;
    margin: 0 auto;
    display: flex; align-items: center; justify-content: space-between;
    padding-top: 45px; padding-bottom: 101px;
    text-align: center;
}
main .main_4_bg .main_4 .sns a {
    display: flex; align-items: center;
    justify-content: space-between;
    text-align: center;
    /* margin-right: 238px; */
    margin: 0 auto;
    /* border: 1px solid red; */
}
main .main_4_bg .main_4 .sns a:last-child {margin-right: 0;}
main .main_4_bg .main_4 .sns a img {
    margin-right: 45px;
}
main .main_4_bg .main_4 .main4_contents {
    display: flex; 
}
main .main_4_bg .main_4 .main4_contents a {
    margin-right: 40px; text-align: center;
}
main .main_4_bg .main_4 .main4_contents a:last-child {margin-right: 0;}
main .main_4_bg .main_4 .main4_contents a img {}
main .main_4_bg .main_4 .main4_contents a p{
    margin-top: 23px; padding-bottom: 93px;
}
/* ===================================================== */
main .main_5_bg {
    background-color: #F6F6F6;
}
main .main_5_bg .main_5 {
    width: 1374px; margin: 0 auto;
}
main .main_5_bg .main_5 .main5_title {
    text-align: center;
}
main .main_5_bg .main_5 .main5_title p {
    padding-top: 140px; margin-bottom: 45px;
    color: #727472;
}
main .main_5_bg .main_5 .main5_title h2 {
    font-size: 2.5rem; font-weight: 300;
    margin-bottom: 87px; color: #0D5CAB;
}
main .main_5_bg .main_5 .main5_title h2 span {
    font-size: 2.5rem; font-weight: 700;
}
main .main_5_bg .main_5 .main5_contents {
    padding-bottom: 245px;
}
main .main_5_bg .main_5 .main5_contents ul {
    display: flex; justify-content: space-between;
}
main .main_5_bg .main_5 .main5_contents ul li {
    width: 324px; height: 296px;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
    padding: 51px 40px;
}
main .main_5_bg .main_5 .main5_contents ul li a {}
main .main_5_bg .main_5 .main5_contents ul li a img {}
main .main_5_bg .main_5 .main5_contents ul li a h3 {
    font-size: 1.25rem; font-weight: 600;
    margin: 16px 0;
}
main .main_5_bg .main_5 .main5_contents ul li a p {
    letter-spacing: 0.2px; line-height: 180%;
}
/* ===================================================== */
main .main_6_bg {
    background-color: #2F2F2F;
}
main .main_6_bg .main_6 {
    width: 1374px; margin: 0 auto;
    display: flex; justify-content: space-between;
    padding-top: 70px; padding-bottom: 96px;
}
main .main_6_bg .main_6 .footer_left {}
main .main_6_bg .main_6 .footer_left .footer_l_top {
    display: flex; align-items: center;
    margin-bottom: 34px;
}
main .main_6_bg .main_6 .footer_left .footer_l_top h1 {
    border-right: 1px solid #C2BEBE;
    padding-right: 17px;
}
main .main_6_bg .main_6 .footer_left .footer_l_top h1 a {}
main .main_6_bg .main_6 .footer_left .footer_l_top h1 a img {}
main .main_6_bg .main_6 .footer_left .footer_l_top > a {
    margin-left: 17px;
    display: inline-block;
    font-size: 0.875rem; font-weight: 500;
    color: #C2BEBE;
}
main .main_6_bg .main_6 .footer_left .footer_l_top a span {
    font-size: 1.875rem; font-weight: 500;
    color: #fff;
}
main .main_6_bg .main_6 .footer_left .footer_l_bottom {
    padding-left: 9px;
}
main .main_6_bg .main_6 .footer_left .footer_l_bottom .address {
    color: #C2BEBE;
    font-size: 0.813rem; font-weight: 500;
    margin-bottom: 17px;
}
main .main_6_bg .main_6 .footer_left .footer_l_bottom .copyright {
    color: #C2BEBE;
    font-size: 0.813rem; font-weight: 500;
    margin-bottom: 27px;
}
main .main_6_bg .main_6 .footer_left .footer_l_bottom ul {
    display: flex;
}
main .main_6_bg .main_6 .footer_left .footer_l_bottom ul li {}
main .main_6_bg .main_6 .footer_left .footer_l_bottom ul li::after {
    content: '|';
    margin-left: 7px; margin-right: 7px;
    color: #fff;
}
main .main_6_bg .main_6 .footer_left .footer_l_bottom ul li:last-child::after {display: none;} 
main .main_6_bg .main_6 .footer_left .footer_l_bottom ul li a {
    font-size: 0.938rem; font-weight: 500; color: #fff;
}
/* 오른쪽  */
main .main_6_bg .main_6 .footer_right {
    text-align: right;
}
/* 회사소개다운로드, family site 버튼 */
main .main_6_bg .main_6 .footer_right .main6_btn {
    display: flex; align-items: center;
    /* border: 1px solid red; */
}
main .main_6_bg .main_6 .footer_right .main6_btn .down_btn {
    width: 219px; height: 49px;
    border-radius: 30px; border: 0;
    background-color: #4696DC;
    display: flex; align-items: center;
    justify-content: center;
    color: #fff; font-weight: 500; letter-spacing: 0.2px;
    margin-right: 16px;
}
main .main_6_bg .main_6 .footer_right .main6_btn .down_btn img {
    margin-right: 5.5px;
}
/* FAMILY SITE -> 자바스크립트 OPEN */
main .main_6_bg .main_6 .footer_right .main6_btn .family_site {}
main .main_6_bg .main_6 .footer_right .main6_btn .family_site .open {
    display: flex; flex-flow: column nowrap;
    background-color: #fff; width: 207px; height: 144px;
    padding: 15px 14px;
    border-radius: 5px;
    margin-bottom: 6px;
    display: none; /* <- 자바스크립트 */
}
main .main_6_bg .main_6 .footer_right .main6_btn .family_site .open a {
    font-size: 0.938rem; font-weight: 500;
    margin-bottom: 14px;
}
/* family open   */
main .main_6_bg .main_6 .footer_right .main6_btn .family_site .family_open {
    width: 221px; height: 50px; background-color: #404040; 
    color: #fff;
    text-align: center; 
    border-radius: 30px;
    display: flex; align-items: center; 
    justify-content: center;
}
main .main_6_bg .main_6 .footer_right .main6_btn .family_site .family_open span {
    margin-right: 5px; font-size: 0.938rem; font-weight: 500; letter-spacing: 0.2px;
}
main .main_6_bg .main_6 .footer_right .main6_btn .family_site .family_open img {}
/* sns 종류들 */
main .main_6_bg .main_6 .footer_right .footer_sns {
    margin-top: 49px; /* border: 1px solid blue;  */
    display: inline-block;
}
main .main_6_bg .main_6 .footer_right .footer_sns a {
    margin-right: 28px;
}
main .main_6_bg .main_6 .footer_right .footer_sns a:last-child {margin-right: 0;}
main .main_6_bg .main_6 .footer_right .footer_sns a img {}